
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Architects+Daughter&family=Archivo+Black&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/****************************ADMIN NAVBAR***************************/
*{
    font-family: 'Montserrat', sans-serif;
}

.profile-pic{
    width: 100px;
    margin-left: 15%;
}

.profile-user{
    width: 80px;
    margin-left: 20%;
}

.profile-name{
    font-weight: 700;
    color: #282828;
    font-size: 20px;
    margin: 0;
    text-align: left;
    padding-left: 4%;
}

.nav-container{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}
.menu{
    border-right: 1.5px solid rgb(235, 235, 235);
    width: 20%;
    height: 100vh;
    box-shadow: 0 0px 0px 2px rgba(240, 240, 240, 0.3);
}
.dash-body{
    width: 80%;
    height: 100vh;
}

.menu-container{
    width: 100%;
    border-spacing: 0;
}
.profile-title{
    font-weight: 700;
    color: #2f396d;
    font-size: 24px;
    margin: 0;
    text-align: left;
    padding-left: 10%;
}
.profile-subtitle{
    font-weight: 300;
    color: #8492a6;
    font-size: 15px;
    margin: 0;
    text-align: left;
    padding-left: 10%;
}

.profile-container{
    border-bottom: 1.5px solid rgb(235, 235, 235);
    /*border-radius: 6px;*/
    padding-top: 18%;
    padding-bottom: 12%;
    /*box-shadow: 0 0 3px rgba(52,58,64,0.08);*/
    text-align: center;
}
.post {
    border-style: solid;
    border-width: 3px;
    border-radius: 15px;
    border-color: #2f396d; 
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    color: black;
}
.post h4 {
    margin: 0;
    font-size: 1.2em;
}

.post small {
    font-size: 0.9em;
    color: #777;
}
/**************BUTTONS*******************/
.logout-btn{
    margin-top: 30px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #2f396d; 
    color: white;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.2s ease;
}
.logout-btn:hover{
    background-color: #7fa1c3;
}
.admin-view-btn{
    margin-top: -10px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #6482ad; 
    color: white;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.2s ease;
}
.admin-view-btn:hover{
    background-color: #7fa1c3;
}
.back-btn{
    margin-top: -10px;
    width: 70%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #57ad50; 
    color: white;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.2s ease;
}
.back-btn:hover{
    background-color: #84d37d; 
}
.post-btn{
    margin-top: 10px;
    width: 90%;
    height: 35px;
    border: none;
    border-radius: 10px;
    background-color: #2f396d; 
    color: white;
    font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.2s ease;
}
.post-btn:hover{
    background-color: #7fa1c3;
}

/*.menu-items1{
    font-weight: 500;
    text-align: left;
    padding: 0;
    margin: 0;
    color: #161c2def;
    
}

.menu-td1{
    padding-right: 10px;
}


.menu-button:hover{
    cursor: pointer;
    background-color:var(--btnice);
}

.menu-active{
    color:var(--btnnicetext);
    
}

.menu-items1-active{
    color:var(--btnnicetext);
    background-image: url('../img/search.svg');
    background-position: 10px 50%;
    background-repeat: no-repeat;
}

*/

.heading-main12{
    font-weight: 500;
    font-size: 25px;
}

.heading-sub12{
    font-weight: 500;
    font-size: 20px;
    text-align: right;
}


.header-search{
    display: flex;
    justify-content: center;

    
}
.header-searchbar{
    width: 75%;
    background-color: rgba(255, 255, 255, 0.705);
    border: 0.5px solid rgba(190, 190, 190, 0.884);
    
    
}

.add-doc-form-container{
    padding: 25px;
    margin-top: 30px;
    
}
/* Sidebar user-profile tweaks to ensure consistent avatar/name/role layout */
.sidebar .user-profile,
.user-profile {
    text-align: center;
    padding: 14px 8px;
}
.user-profile .profile-image img,
.user-profile .profile-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #ffffff;
    border: 3px solid #84b6e4;
}
.user-profile .profile-name {
    font-weight: 700;
    color: #282828;
    font-size: 16px;
    margin: 8px 0 4px;
}
.user-profile p {
    margin: 0;
    color: #777;
    font-size: 13px;
}

